:root {
  --color-accent: rgb(255, 102, 0);
  --color-accent-light: rgb(255, 187, 0);
  --color-bg: whitesmoke;
  --color: black;
}

* {
  margin: 0;
}

@mixin box-shadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--color-bg);
  font-family: "Montserrat", sans-serif;
  min-width: 500px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: var(--color);

  &:focus,
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
  }
}

em {
  font-size: 0.8rem;
}

nav {
  // border: 1px solid red;
  position: fixed;
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  //   background-image: url("https://camo.githubusercontent.com/3f54426c0ae25d55e07f21b6f9775b156327d4c8/68747470733a2f2f692e706f7374696d672e63632f3032744b425477442f626c75652e706e67");
  background-image: url("../images/Scrimba-banner.png");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(64, 102, 164);
  font-size: 2rem;
  font-weight: bold;
}

.container {
  // border: 3px solid blue;
  position: relative;
  top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 80%;
  margin: 0 auto;
}

.card {
  // border: 1px solid red;
  @include box-shadow;
  display: flex;
  width: 325px;
  padding: 5px 10px;
  background-color: white;

  .link {
    margin: 0;
  }

  .about {
    @include box-shadow;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    text-align: center;

    &-title {
      text-decoration: underline;
      text-decoration-color: var(--color-accent);
    }
  }

  img {
    // border: 1px solid green;
    @include box-shadow;
    height: 75px;
    align-self: center;
  }

  .info {
    // border: 1px solid blue;
    align-self: center;
    margin-left: 25px;
    padding: 5px 0;
    line-height: 25px;
  }

  .btn-info {
    cursor: pointer;
    margin: 10px 0;
    background-color: var(--color-accent);
    color: white;
    border-radius: 25px;
    transition: background-color 0.1s ease-in-out;
  }

  .btn-info:focus,
  .btn-info:hover {
    background-color: var(--color-accent-light);
  }

  .card-info {
    padding: 15px 0;
    display:block;
  }
}

.closed .card-info {
  display: none;
}
